extend admin
block adminContent
  if success
    .Notice.success #{message}
  form(action='', method='post')
    fieldset.FormBlock
      if peopleCount
        table.ListTable(cellpadding='0', cellspacing='0', border='0', width='100%')
          thead
            tr
              th
              th User
              th User type
              th Socket ID
              th Version
              th Current case
          tbody
            for person in people
              for conn, socketID in person.connections
                tr
                  td
                    input(type='radio', name='socketID' value=socketID)
                  td #{person.username}
                  td #{person.userType}
                  td #{socketID}
                  td #{conn.appVersion}
                  td #{conn.caseViewed}
        .FormActions
          button.Button(type='submit', name='startRequest', value='true') Start mirroring
          button.Button.Button--secondary(type='submit', name='stopRequest', value='true') Stop mirroring
      else
        p No people currently connected
